/* PREIMPOSTAZIONI COLORI E FONT */
:root{
    --main: rgb(139, 0, 0);
    --acc: rgba(213, 173, 168, 0.912);
    --myWhite: rgb(230, 230, 230);
    --myBlack: rgb(34, 40, 41);
}

@font-face {
    font-family: FontMain;
    src: url(./media/FONT-MAIN.ttf);
}

/* MY NAVBAR */
.mynavbar{
    display: flex;
    list-style-type: none !important;
    justify-content: center;
    font-family: FontMain;
}
.link{
    height: 100px;
    width: 100%;
    display: flex;
    list-style-type: none;
    justify-content: space-around
}
/* FINE MY NAVBAR */
/* MY HEADER */
.bg-header{
    background: linear-gradient(white, rgba(255, 255, 255, 0)), url(./media/mountains.png), url(./media/switzerland-862870_1920.jpg);
    background-size: cover;
    background-position: center;
}

h1{
    font-family: FontMain;
    color: var(--main);
    font-size: 80px;
}
p{
    font-family: FontMain;
}
/* FINE MY HEADER */
/* SEZIONE */
.lorem-center{
    margin-left: 300px;
    margin-right: 300px
}
.icon-color{
    list-style-type: none;
    color: var(--main);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 80px;

}

/* FINE SEZIONE */